body {
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}


.navbar {
  padding: 2rem 3rem 2rem 5rem;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

.dropdown-menu {
  margin: 0 0 0 0;
  border-radius: 40px;
  padding: 0 0 0 0;
}

.dropdown-menu:hover {
  display: block;
}

.dropdown-item {
  margin: 0 0 0 0;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  background-color: #fafafa;
  text-align: center;
  width: 12rem;
}

.dropdown-item:hover {
  background-color: #e3e3e3;
}

.faq-btn {
  margin: 0 0 0 0;
  border-radius: 40px 40px 0 0;
  padding: 3rem 3rem 1.5rem 3rem;
}

.blog-btn {
  margin: 0 0 0 0;
  border-radius:  0 0 40px 40px;
  padding: 1.5rem 3rem 3rem 3rem;
}

.join-us-nav {
  visibility: hidden;
}

.scrolled {
  visibility: visible;
  margin: 0 2rem 0 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.container-1 {
  background-color: #fafafa;
}

.container-1 h1 {
    padding: 9% 20% 0 20%;
}

.container-1 p {
  padding: 2% 30% 0 20%;
}

.join-us{
  padding: 2% 10% 5% 20%;
}

.container-1 a {
  padding: 3% 12%;
}

.container-3 {
  padding: 3% 10% 3% 10%;
}

.container-3 h1 {
  padding: 0 0 3% 0;
}

.container-3 .card-1{
  padding: 0 0 4% 0;
}

.container-3 .card-2{
  padding: 0 0 4% 0;
}

.container-3 .card-3{
  padding: 0 0 4% 0;
}

.container-4 {
  background-color: #fafafa;
  padding: 3% 10% 3% 10%;
}

.container-4 h1{
  text-align: center;
  padding: 0 0 3% 0;
}

.product-cards .card-1{
  padding: 0 0 4% 0;
}

.product-cards .card-2{
  padding: 0 0 4% 0;
}

.container-5 {
  margin: 0;
  padding: 5% 10% 5% 10%;
}

.container-5 h1 {
  margin: 0;
  text-align: center;
  padding: 0 0 5% 0;
}

.container-6 {
  margin: 0;
  background-color: #fafafa;
  padding: 5% 10% 5% 10%;
}

.container-6 h1 {
  margin: 0;
  text-align: center;
  padding: 0 0 3% 0;
}

.container-6 p{
  margin: 0;
  text-align: center;
  width: 60%;
}

.container-7 {
  padding: 5% 10% 5% 10%;
}

.container-7 h1{
  text-align: center;
  padding: 0 0 4% 0;
}

.form-group {
  padding: 0 4% 4% 4%;
}

.container-8{
  background-color: #fafafa;
  padding: 5% 10% 5% 10%;
}

.container-8 h1{
  text-align: center;
  padding: 0 0 4% 0;
}

.fa-facebook-official, .fa-twitter-square, .fa-instagram, .fa-linkedin-square {
  padding: 1% 1% 8% 1%;
}

.fa-address-book, .fa-phone-square, .fa-envelope {
  padding: 0 2% 2% 0;
}

footer {
  background-color: #fafafa;
  padding: 1% 10% 1% 10%;
  text-align: center;
}
